{% extends 'site/base.html.twig' %}

{% block title %}Prestations{% endblock %}

{% block body %}

    <h1 class="col-12 mt-5 text-center">Prestations</h1>


    <div class="row my-5">
        <div class="col-11 mx-auto">
            <p class="text-justify text-xl-center">
                Que vous soyez un particulier, un professionnel du monde du jeu ou du réemploi, ce projet a besoin de vous pour se pérenniser et se développer.
            </p> 
        </div>
    </div>
    <div class="row justify-content-around my-5">



    </div>




            
 









{% endblock %}