{% extends 'components/_base.html.twig' %}

{% block title %}Qui sommes- nous ?{% endblock %}

{% block body %}

    <h1 class="col-12 mt-5 text-center">Qui <span class="text_juliette_purple">sommes- nous ?</span></h1>

    <div class="row justify-content-center py-2">
        <div class="col-lg-7 col-md-9 col-11 mx-auto py-3">
            <p class="lead">Une équipe de bénévoles, soucieux de favoriser le réemploi des jeux et le lien social.</p>
            <p class="text-justify">
                L’activité de réemploi des jeux a été lancée en septembre 2020. Refaites vos jeux est devenue une association en août 2023.<br/><br/>

                Actuellement, l’équipe n’est composée que de bénévoles. A moyen terme, l’association espère pouvoir créer un ou plusieurs postes salariés.<br/><br/>

                L’équipe s’affaire tous les jours pour collecter, trier et valoriser les dons faits par les particuliers ou les structures (près de 230 jeux par mois!).<br/><br/>

                C‘est notre part du Colibri puisqu’on estime, qu’en France, près de 100 000 tonnes de jouets sont jetées chaque année.<br/><br/>

                À travers son action, l’association souhaite sensibiliser les particuliers et les professionnels aux enjeux liés à la sobriété et à la réduction des déchets.<br/><br/>

                Les jeux collectés sont, pour la plupart, complétés grâce à notre stock de jeux incomplets. Ils sont alors remis en vente à prix solidaires (maximum 50 % du prix d’un jeu neuf) ou donnés à des associations.<br/><br/>

                Certaines pièces détachées sont proposées à la vente à l’unité et permettent aux particuliers et aux professionnels de compléter leurs jeux.<br/><br/>

                L’association propose également différentes <a class=" fw-bolder" href="{{ path('app_prestations') }}">prestations</a> : animation de jeux vintage, inventaire des stocks de jeux, formation...<br/><br/>

                À travers son activité de réemploi des jeux, l’association propose un espace de lien social, ouvert sur soi et sur l’autre. Le jeu est un objet culturel fédérateur. L’association souhaite que des personnes de différents horizons puissent se rencontrer, échanger, partager.<br/><br/>

                Cela passe notamment par des liens partenariaux avec les différentes acteurs du territoire, que ce soit dans le champ du médico-social, de l’insertion, de la protection de l’enfance, de la santé, de l’éducation nationale, de l’éducation populaire...<br/><br/>

                L’association porte un projet global qui s’inscrit pleinement dans les valeurs de l’Économie Sociale et Solidaire.
            </p>
        </div>

        <div class="col-11 text-center my-5">
            <a class="btn btn-lg btn-outline-info" href="{{ path('app_support_us') }}">Vous souhaitez nous soutenir ?</a>
        </div>
    </div>

{% endblock %}