{% extends "site/base.html.twig" %}

{% block title %}Catalogue des jeux d'occasion{% endblock %}

{% block body %}

    <h1 class="col-12 text-center my-5">Les jeux d'occasion</h1>


    <div class="col-12 text-center h4 text-danger">Uniquement disponible en retrait sur Caen !</div>

    {% if occasions | length > 0 %}

        <div class="row justify-content-around">

            {% include "components/catalog/_card.html.twig" with { 'donnees': occasions } %}

        </div>
        
        <div class="row mt-5">
            <div class="col-12 d-flex justify-content-center">
                {{ knp_pagination_render(occasions, 'components/pagination.html.twig') }}
            </div>
        </div>


        <div class="row mb-5 justify-content-start">
            <div class="col-12 text-center">{{ occasions_totales | length }} occasions en ligne.</div>
        </div>

    {% else %}

        <div class="row">
            <div class="col-12 text-center">
                <p class="h2">Nous n'avons pas ce jeu en stock pour le moment.</p>
                <p class="h5">Vous pouvez suivre nos arrivages sur la page <a href="https://www.refaitesvosjeux.fr" target="_blank">Facebook !</a></p>    
                <p class="h5 mt-5">Ou tenter votre chance chez l'un de nos partenaires:</p>
            </div>
        </div>
        <div class="row justify-content-start mb-5">

            {% for partenaire in partenaires %}

            {% include "site/components/catalogues/card-partenaire.html.twig" %}
                
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
