{% extends "site/base.html.twig" %}

{% block title %}Un service pour complèter vos jeux de socièté.{% endblock %}

{% block body %}

<div class="row my-5">
    <div class="col-12 cover-container shadow d-flex justify-content-center align-items-center">
        <p class="fs-4">{{ metas.description }}</p>
    </div>
</div>

<div class="row justify-content-around my-5">
        <div class="col-10 col-sm-9 col-md-6 col-xl-3 my-3">
            <div class="card border-0 shadow-lg h-100">
                <div class="card-body d-flex flex-column align-items-center justify-content-center py-5">
                    <img src="https://random.imagecdn.app/350/350" alt="" style="border-radius:50%;max-width:200px;">
                    <div class="card-description text-center fs-4 mt-4">
                        <a class="btn btn-outline-secondary" href="{{ path('app_catalogue_pieces_detachees') }}">Compléter ses jeux</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 col-sm-9 col-md-6 col-xl-3 my-3">
            <div class="card border-0 shadow-lg h-100">
                <div class="card-body d-flex flex-column align-items-center justify-content-center py-5">
                    <img src="https://random.imagecdn.app/250/250" alt="" style="border-radius:50%;max-width:200px;">
                    <div class="card-description text-center fs-4 mt-4">
                        <a class="btn btn-outline-secondary" href="{{ path('app_catalogue_occasions') }}">Acheter des jeux</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 col-sm-9 col-md-6 col-xl-3 my-3">
            <div class="card border-0 shadow-lg h-100">
                <div class="card-body d-flex flex-column align-items-center justify-content-center py-5">
                    <img src="https://random.imagecdn.app/250/250" alt="" style="border-radius:50%;max-width:200px;">
                    <div class="card-description text-center fs-4 mt-4">
                        <a class="btn btn-outline-secondary" href="">Nos prestations</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 col-sm-9 col-md-6 col-xl-3 my-3">
            <div class="card border-0 shadow-lg h-100">
                <div class="card-body d-flex flex-column align-items-center justify-content-center py-5">
                    <img src="https://random.imagecdn.app/250/250" alt="" style="border-radius:50%;max-width:200px;">
                    <div class="card-description text-center fs-4 mt-4">
                        <a class="btn btn-outline-secondary" href="{{ path('app_support_us') }}">Nous soutenir</a>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="row my-4">
    <div class="col-12 text-center">
        <div class="fb-page shadow-lg" data-href="https://www.facebook.com/refaitesvosjeux" data-width="380" data-hide-cover="false" data-show-facepile="false"></div>
    </div>
</div>

{% endblock %}
