{% include "components/catalog/_card_admin_link_to_entity.html.twig" with {'entityNameInController': entityNameController} %}
{% if buttonLength == 'small' %}
    <a class="btn btn-dark _card_button_link_add_in_cart d-flex justify-content-center align-items-center text-white" href="{{ path('panier_add_occasion', {'occasion_id': occasion.id, 'qte': 1, 'backUrl': app.request.uri }) }}">
        <img src="{{ asset('build/images/design/catalogs/cart.svg') }}" alt="Logo accès panier">
    </a>
{% else %}
    <a class="btn btn-dark d-flex justify-content-center align-items-center text-white" href="{{ path('panier_add_occasion', {'occasion_id': occasion.id, 'qte': 1, 'backUrl': app.request.headers.get('referer') }) }}">
        Ajouter au panier
    </a>
{% endif %}