{% include "components/catalog/_card_admin_link_to_entity_boite.html.twig" with {'boite': occasion.boite} %}
{% include "components/catalog/_card_admin_link_to_entity_occasion.html.twig" with {'occasion': occasion} %}
{% if buttonLength == 'small' %}
    <a class="_card_button_link_add_in_cart d-flex justify-content-center align-items-center text-white" href="{{ path('panier_add_occasion', {'occasion_id': occasion.id, 'qte': 1 }) }}">
        <img src="{{ asset('build/images/design/catalogs/cart.svg') }}" alt="Logo accès panier">
    </a>
{% else %}
        {# si occasion en ligne #}
        {% set returnInCatalogLink = app.request.headers.get('referer') %}
        <a class="btn btn-dark d-flex justify-content-center align-items-center text-white" rel="nofollow" href="{{ path('panier_add_occasion', {'occasion_id': occasion.id, 'qte': 1, 'returnInCatalog': returnInCatalogLink }) }}">
            Ajouter au panier
        </a>
{% endif %}