
        <!-- left column / result > 0 -->

        {% set jeu_dispo = 'jeu d\'occasion disponible' %}

        {% if occasions | length > 1 %}
            {% set jeu_dispo = 'jeux d\'occasion disponibles' %}
        {% endif %}

            <div class="col-12 d-flex flex-wrap justify-content-center align-items-center mb-3">
                <div class="col-12 col-lg-6 ps-md-3 text-center text-md-start"><span class="fw-bold">{{ occasions_totales | length }}</span> {{ jeu_dispo }}.</div>
                <div class="col-12 mt-3 mt-lg-0 col-lg-6">
                    {% include "site/pages/catalog/components/_search_occasion_name_or_editor.html.twig" %}
                </div>
            </div>

            {% if occasions | length > 0 %}

                {% for key,occasion in occasions %}  

                    <div class="col-6 col-lg-4 mx-md-0 p-1 card_columns">
                        {% include "site/pages/catalog/components/_cardOccasion.html.twig" with { 'occasion': occasion, 'tax': tax } %}
                    </div>

                {% endfor %}

                <div class="col-12 my-5">
                    {{ knp_pagination_render(occasions, 'components/_pagination.html.twig') }}
                </div>

            {% else %}
                <!-- left column / result == 0 -->
                {% include "site/pages/catalog/components/_emptyResultsDisplayPartners.html.twig" with {'partners': partners } %}
            
            {% endif %}