<div class="col-12 text-center my-5">
	<img src="{{ asset('build/images/design/catalogs/oups.svg') }}" alt="Logo recherche sans résultats">
    <h3 class="text-purple">OUPS !</h3>
    Nous n’avons pas trouvé ce que vous cherchez…<br/> Essayez encore !
</div>