{% include "components/forms/_display_form_errors.html.twig" %}

    {{ form_start(formNameOrEditor, {'attr': {'id': 'search_occasion_name_or_editor_in_catalogue' }}) }}
        <div class="offset-3 col-9 offset-lg-2 col-lg-10 offset-xl-3 col-xl-9 pe-5">
            <div class="input-group position-relative">
                {{ form_widget(formNameOrEditor.search, {'attr': {'id': 'search_occasion_name_or_editor_in_catalogue_input' }}) }}
                <span class="input-group-append valid_button">
                    {% if formNameOrEditor.vars.value.search is not defined %}
                        <button class="btn" type="submit" id="submitButtonSearchByName">
                            <i class="fa fa-search text-dark"></i>
                        </button>
                        {% else %}
                        {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
                            <a class="btn" href="{{ currentPath }}"><i class="fa-solid fa-eraser text-purple"></i></a>
                        {% endif %}
                </span>
            </div>
        </div>
    {{ form_end(formNameOrEditor) }}