<div class="col-9 mx-auto mb-5">
    <div class="col-10 mx-auto d-flex justify-content-around mb-5">
        <a href="{{ path('app_login') }}" class="btn btn-info btn-lg">Connexion</a>
        <a href="{{ path('app_register') }}" class="btn btn-info btn-lg">Inscription</a>
    </div>
    <div class="col-11 mx-auto p-4 border">
        {% include "components/login_register/_"~ page ~".html.twig" %}
    </div>
</div>