{% extends 'site/base.html.twig' %}

{% block title %}Mon compte{% endblock %}


{% block body %}

    <h1 class="col-12 text-center my-5">Espace membre</h1>

    {% include "member/nav.html.twig" %}

         <div class="container d-flex flex-column justify-content-between h-100">
            {% block member %}{% endblock %}
        </div>

{% endblock %}
