{% extends "components/_base.html.twig" %}

{% block title %}Espace membre{% endblock %}

{% block body %}

<div class="row justify-content-around align-items-center my-5">
    <div class="col-12 col-md-6 d-flex flex-column justify-content-around pt-3">
        <h1 class="col-11">
            Espace <span class="text-purple">membre</span>
        </h1>
        <div class="col-11">//TODO Antoine / Juliette Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>

        <div class="col-12 d-flex justify-content-around mt-3 px-0">
            <a class="btn btn-orange mx-2" href="{{ path('member_historique') }}">Mon historique</a>
            <a class="btn btn-dark mx-2" href="{{ path('member_adresses') }}">Mes adresses</a>
            <a class="btn btn-orange mx-2" href="{{ path('member_compte') }}">Mon compte</a>
        </div>

    </div>
    <div class="col-11 mt-4 mt-md-0 col-md-4 d-flex justify-content-center">
        //TODO Juliette
        <img src="{{ asset('build/images/design/prestations/prestation_header.png') }}" alt="Image de pièces au détail">
    </div>
</div>

{% endblock %}