<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="{{ path('app_member') }}">Accueil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{{ path('app_member_historique') }}">Historique</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('app_member_adresses') }}">Adresses enregistrées</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('app_member_compte') }}">Compte</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>