liip_imagine :
    resolvers :
        default :
            web_path : ~

    filter_sets :
        cache : ~

        # the name of the "filter set"
        logoSite :
            # adjust the image quality to 75%
            quality : 100
            # list of transformations to apply (the "filters")
            filters :
                thumbnail: { size: [200, 200], mode: inset }

        # the name of the "filter set"
        occasion:
            # adjust the image quality to 75%
            quality: 100
            # list of transformations to apply (the "filters")
            filters:
                # create a thumbnail: set size to 120x90 and use the "outbound" mode
                # to crop the image when the size ratio of the input differs
                thumbnail: { size: [180, 150], mode: inset }
