{% extends "components/_base.html.twig" %}

{% block title %}Acheter des jeux{% endblock %}

{% block body %}

    <h1 class="col-12 text-center text-md-start my-5">Acheter des jeux</h1>

    <div class="row justify-content-center my-5">

        <div class="col-11 col-md-9 col-xl-8 my-5 text-center lead">
            {{ metas.description }}
        </div>

        <div class="col-11 lead">
            <p>Tous les jeux sont vérifiés puis nettoyés avec des produits naturels.</p>

            <p>Ils sont vendus entre 30 et 50 % du prix d’un jeu neuf (hors jeux vintage).<br/>
            Une décote est appliquée lorsque la boîte est dans un état moyen ou que la règle du jeu a été photocopiée.</p>
        </div>

        <ul class="my-5 col-11 col-md-9 col-xl-7">
            <li class="text-primary fs-5">Vous êtes un particulier ?</li>
                <ol>
                    Vous pouvez commander les jeux sur notre <a href="{{ path('app_catalogue_occasions', {'category': null}) }}">catalogue en ligne</a> et les retirer à la Coop 5 pour 100, 33 route de Trouville à Caen.<br/>
                    <span class="text-danger fw-bolder">Pas d’envoi possible</span>.
                </ol>

            <li class="text-primary fs-5 mt-4">Vous êtes une structure ?</li>
                <ol>
                    En adhérant à l’association (15€ l’année), vous avez accès à l’« espace boutique » situé dans nos locaux (sur rendez-vous).<br/>
                    Vous y retrouverez tous les jeux référencés sur notre catalogue en ligne mais aussi des exclusivités (puzzles, jeux non référencés).<br/>
                    Vous aurez également accès à notre stock de jeux complets dont le matériel a un défaut ou dont les pièces sont un peu abîmées (25 % du prix d’un jeu neuf).
                </ol>
        </ul>

        <div class="col-11 text-center mt-4">Nous sommes présent à de nombreuses foires au tour de Caen.</div>

        <div class="col-10 col-sm-9 col-md-7 col-lg-5 mt-3 mt-md-0">
            <div class="card border-0 shadow-lg h-100">
                <div class="card-body d-flex flex-column align-items-center justify-content-center py-4">
                    <img src="{{ asset('build/images/design/participation.jpeg') }}" alt="Image d'un stand pendant une foire" style="border-radius:10%;max-width:100%;">
                </div>
            </div>
        </div>

    </div>

    <div class="row justify-content-center my-5">

        {% include "site/project/components/_link_to_contact_page.html.twig" %}

    </div>

{% endblock %}