{% extends "site/base.html.twig" %}

{% block title %}Acheter des jeux{% endblock %}

{% block body %}

    <h1 class="col-12 text-center my-5">Acheter des jeux</h1>

    <div class="row justify-content-center">

        <div class="col-11 col-md-9 col-xl-8 my-5 text-justify">
            Le service propose aux particuliers et aux professionnels du bassin caennais  d’acquérir des jeux complets d’occasion à petits prix !<br/>
            En achetant des jeux sur le site vous contribuez à une démarche citoyenne de réduction des déchets !
        </div>

        <div class="col-11 text-center mt-4">Nous sommes présent à de nombreuses foires au tour de Caen.</div>

        <div class="col-10 col-sm-9 col-md-7 col-lg-5 mt-3 mt-md-0">
            <div class="card border-0 shadow-lg h-100">
                <div class="card-body d-flex flex-column align-items-center justify-content-center py-4">
                    <img src="{{ asset('build/images/design/participation.jpeg') }}" alt="Image d'un stand pendant une foire" style="border-radius:10%;max-width:100%;">
                </div>
            </div>
        </div>

    {% include "site/project/components/_link-to-formulaire.html.twig" %}

    </div>

{% endblock %}