{% extends "components/_base.html.twig" %}

{% block title %}Adhérer à l'association{% endblock %}

{% block body %}

    <h1 class="col-12 text-center text-md-start my-5">Adhérer à l'association</h1>

    <div class="row justify-content-center my-5">

        <div class="col-11 text-center mb-4">
            <p class="fs-4">{{ metas.description }}</p>
        </div>

        <ul class="col-12 col-md-9">
            <li class="list-unstyled text-primary fw-bolder">Membre actif: 2€</li>
                <ol>
                À destination des particuliers.<br/>
                Devenir membre actif, c’est s’impliquer dans la vie de l’association, aussi bien dans ses activités que dans sa gouvernance (droit de vote à l’Assemblée Générale).<br/>
                Vous avez accès à nos locaux.
                </ol>
            <li class="list-unstyled mt-4 text-primary fw-bolder">Membre sympathisant : Prix libre.</li>
                <ol>
                A destination des particuliers.<br/>
                Devenir membre sympathisant, c’est soutenir moralement et financièrement le projet associatif. Vous êtes convié(e) à l’Assemblée Générale mais vous ne disposez pas de droit de vote.
                </ol>
            <li class="list-unstyled mt-4 text-primary fw-bolder">Adhésion structure (personne morale): À partir de 15€</li>
                <ol>
                Faire adhérer votre structure, c’est soutenir moralement et financièrement l’association.<br/>
                Cette adhésion vous donne accès à notre « espace boutique » situé dans nos locaux.<br/>
                Vous bénéficiez également d’un service élargi pour les pièces détachées afin de compléter vos jeux.
                </ol>
        </ul>

        <div class="col-11 text-center mt-4">
            <p class="fs-6"><a class="btn btn-lg btn-outline-info" href="https://www.helloasso.com/associations/refaites-vos-jeux/adhesions/formulaire-d-adhesion-a-l-association-refaites-vos-jeux" target="_blank">L’adhésion se fait via notre compte Helloasso.</a></p>
        </div>

    </div>

    <div class="row justify-content-center my-5">

        {% include "site/project/components/_link_to_contact_page.html.twig" %}

    </div>
    
{% endblock %}