<h4 class="col-12 text-center text-primary my-4">Agrandir le réseau</h4>

<p class="mt-2 text-justify">
    Le service cherche à développer le réseau autour du réemploi du jouet : vendeurs de pièces détachées, de jeux complets ou points de collecte.<br/>
    Vous souhaitez devenir l'un de nos partenaires ? N'hésitez pas à nous contacter !
</p>

<div class="col-11 mx-auto">
    <script type="text/javascript" src="{{ asset('map/mapdata_france.js') }}"></script> 
    <script type="text/javascript" src="{{ asset('map/countrymap_france.js') }}"></script> 
    <div id="map_france"></div>
</div>


{% include "site/project/components/_link_to_contact_page.html.twig" %}
