{% extends "components/_base.html.twig" %}

{% block title %}Donner ses jeux{% endblock %}

{% block body %}

<h1 class="col-12 text-center my-5">Donner ses jeux</h1>

<div class="row justify-content-center">
    <div class="col-11 col-md-9 col-xl-7">
        {{ metas.description }}
    </div>
</div>
<div class="row justify-content-center my-3">
    <h3 class="h4 col-11 col-md-9 col-xl-7 text-center my-4">Où donner ses jeux ?</h3>
    <ul class="col-11 col-md-9 col-xl-7">
        <li class="text-primary fs-5">Vous êtes sur Caen ou aux alentours ? Vous pouvez déposer les jeux dans nos points de collecte permanents:</li>
            <ol class="my-4">
                Magasin Hôma – 2 avenue d’Harcourt, 14123 Fleury-Sur-Orne<br/>
                Ouvert le lundi de 14h à 19h du mardi au samedi de 10h à 19h.
            </ol>
            <ol class="my-4">
                Biocoop – 34 rue Chapron, 14120 Mondeville.<br/>
                Ouvert du lundi au samedi de 9h30 à 19h30.
            </ol>
            <ol class="my-4">
                Domicile d'un bénévole - 24 rue froide, 14980 Rots.<br/>
                En cas d'absence, les jeux peuvent être déposés devant la porte, elle est abritée !
            </ol>
        <li class="text-primary fs-5">Vous êtes d’une autre région ?</li>
            <ol class="my-4">
                L’un de nos ambassadeurs propose peut-être un point de collecte près de chez vous !<br/>
                <a class="btn btn-outline-info ms-4 mt-3" href="{{ path('app_became_ambassador') }}#collectPoints"><i class="fa-solid fa-map-pin"></i> Carte des points de collecte</a>
            </ol>
        <li class="text-primary fs-5">Vous pouvez aussi nous envoyer les jeux par voie postale ou Colissimo:</li>
            <ol class="my-4">
                Refaites vos jeux – 24 rue froide – 14980 ROTS.
            </ol>
        <li class="text-primary fs-5">Ou via Mondial Relay:</li>
            <ol class="my-4">
                -> point relais CARREFOUR EXPRESS, 14120 Mondeville.<br/>
                Email: contact@refaitesvosjeux.fr
            </ol>
    </ul>
</div>
<div class="row justify-content-center mb-5">
    <div class="col-11 col-md-9 col-xl-7 lead text-warning">
    L’association prend en charge les frais de port des personnes et des structures qui sont ambassadrices Refaites vos jeux.
    </div>
    <div class="col-11 col-md-9 col-xl-7 lead text-center mt-5 fst-italic">
    Nous vous remercions par avance pour vos dons ! 
    </div>
</div>

{% endblock %}