{% extends "components/_base.html.twig" %}

{% block title %}Faire un don{% endblock %}

{% block body %}

    <h1 class="col-12 text-center text-md-start my-5">Faire un don</h1>

    <p class="col-12 text-center lead">Vous souhaitez soutenir financièrement le projet ?</p>

    <div class="row justify-content-center my-5">

        <div class="accordion col-11 col-md-9 mx-auto" id="accordionExample">

                    {% if app.request.server.get('PAIEMENT_MODULE') == 'PAYPLUG' %}

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button bg-primary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Par le formulaire en ligne de Payplug...
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body lh-lg">
                                    {% include "site/project/components/_formForDonationWithPayplug.html.twig" %}
                                </div>
                            </div>
                            <p class="col-12 text-center">Merci par avance pour votre soutien !</p>
                        </div>

                    {% else %}

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button bg-primary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Via le compte HelloAsso...
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body lh-lg text-center">
                                    {% include "site/project/components/_formForDonationWithHelloAsso.html.twig" %}
                                    <br/>
                                    Un reçu vous sera délivré par la plateforme.
                                    <p class="col-12 text-center">Merci par avance pour votre soutien !</p>
                                </div>
                            </div>
                        </div>

                    {% endif %}
       

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed bg-primary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Par chèque...
                </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body lh-lg text-center">
                        A l'ordre de REFAITES VOS JEUX:<br/><br/>
                        {{ legales.companyName }}<br />
                        {{ legales.streetCompany }}<br/>
                        {{ legales.postalCodeCompany }} {{ legales.cityCompany }}<br />
                    Si besoin, nous pouvons vous envoyer un reçu.
                    </div>
                    <p class="col-12 text-center">Merci par avance pour votre soutien !</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row justify-content-center my-5">

        {% include "site/project/components/_link_to_contact_page.html.twig" %}

    </div>
{% endblock %}