{% extends "components/_base.html.twig" %}

{% block title %}Organiser une collecte de jeux
{% endblock %}

{% block body %}

	<h1 class="col-12 text-center text-md-start my-5">Organiser une collecte de jeux</h1>

	<div class="row justify-content-center">
		<div class="col-11 col-md-9 col-xl-7">
			L’association récupère les jeux de société complets et incomplets ainsi que les pièces détachées (pions, dés, sabliers…).<br/>
			Nous récupérons également les puzzles complets et les jeux éducatifs en boîte carton (pour apprendre à lire, compter…), qu’ils soient complets ou incomplets.
		</div>
	</div>
	<div class="row justify-content-center my-3">
		<h3 class="h4 col-11 col-md-9 col-xl-7 text-center my-4">Où donner ses jeux ?</h3>
		<ul class="col-11 col-md-9 col-xl-7">
			<li class="text-primary fs-5">Vous êtes sur Caen ou aux alentours ? Vous pouvez déposer les jeux dans nos points de collecte permanents:</li>
			<ol class="my-4">
				Magasin Hôma – 2 avenue d’Harcourt, 14123 Fleury-Sur-Orne<br/>
				Ouvert le lundi de 14h à 19h du mardi au samedi de 10h à 19h.
			</ol>
			<ol class="my-4">
				Biocoop – 34 rue Chapron, 14120 Mondeville.<br/>
				Ouvert du lundi au samedi de 9h30 à 19h30.
			</ol>
			<ol class="my-4">
				Siège de Refaites vos jeux - 24 rue froide, 14740 Rots.<br/>
				En cas d'absence, les jeux peuvent être déposés devant la porte, elle est abritée !
			</ol>
			<li class="text-primary fs-5">Vous êtes d’une autre région ?</li>
			<ol class="my-4">
				L’un de nos ambassadeurs propose peut-être un point de collecte près de chez vous !<br/>
				<a class="btn btn-outline-info ms-4 mt-3" href="{{ path('app_organize_a_collection') }}">
					<i class="fa-solid fa-map-pin"></i>
					Voir la carte des ambassadeurs</a>
			</ol>
			<li class="text-primary fs-5">Vous pouvez aussi nous envoyer les jeux par voie postale ou Colissimo:</li>
			<ol class="my-4">
				Refaites vos jeux – 24 rue froide – 14980 ROTS.
			</ol>
			<li class="text-primary fs-5">Ou via Mondial Relay:</li>
			<ol class="my-4">
				-> point relais CARREFOUR EXPRESS, 14120 Mondeville.
			</ol>
		</ul>
	</div>
	<div class="row justify-content-center">
		<div class="col-11 col-md-9 col-xl-7 lead text-warning">
			L’association prend en charge les frais de port des personnes et des structures qui sont ambassadrices Refaites vos jeux.
		</div>
		<div class="col-11 col-md-9 col-xl-7 lead text-center mt-5 fst-italic">
			Nous vous remercions par avance pour vos dons !
		</div>
	</div>

	<div class="row justify-content-center mb-5">
		<div class="col-11 figure-caption text-center my-4">Exemple de dons / collectes.</div>
		<div class="col-8 col-sm-7 col-md-5 col-lg-4 col-xl-3 mt-3 mt-md-0">
			<div class="card border-0 shadow-lg h-100">
				<div class="card-body d-flex flex-column align-items-center justify-content-center py-4">
					<img src="{{ asset('build/images/design/collecte-en-entreprise-1.jpeg') }}" alt="Image d'une collecte en entreprise" style="border-radius:10%;max-width:100%;">
				</div>
			</div>
		</div>
		<div class="col-8 col-sm-7 col-md-5 col-lg-4 col-xl-3 mt-3 mt-md-0">
			<div class="card border-0 shadow-lg h-100">
				<div class="card-body d-flex flex-column align-items-center justify-content-center py-2">
					<img src="{{ asset('build/images/design/collecte-en-entreprise-2.jpeg') }}" alt="Image d'une collecte en entreprise" style="border-radius:10%;max-width:100%;">
				</div>
			</div>
		</div>

	</div>

	<div class="row justify-content-center my-5">

		{% include "site/project/components/_link_to_contact_page.html.twig" %}

	</div>
{% endblock %}
