{% if not form.vars.valid %}
    <ul class="col-12 text-center list-unstyled">
        {# Loop through every form item #}
        {% for child in form.children %}
            {# Display the errors of the form item #}
            {%for error in child.vars.errors%}
                <li class="text-danger small">{{error.message}}</li>
            {%endfor%}
        {%endfor%}
    </ul>
{%endif%}