{% include "components/forms/_display_form_errors.html.twig" %}

    {{ form_start(form) }}
        <div class="col-12 col-lg-12 d-flex flex-column flex-wrap justify-content-around">
            <div class="form-group mb-3 col-12">
                {{ form_widget(form.search) }}
            </div>
            <div class="col-12">
                {% set currentPath = app.request.get('_route') %}
                <div class="input-group-append text-center col-12">
                    {# <button class="btn btn-outline-primary" type="submit">Chercher</button> #}
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-outline-primary">Chercher</button>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
