{% include "components/forms/_display_form_errors.html.twig" %}
{% set currentPath = app.request.get('_route') %}


    <div class="col-6 px-0">
        {{ form_start(form) }}
            <div class="input-group">
                {{ form_widget(form.search) }}
                <span class="input-group-btn d-flex align-items-center">
                    <button class="btn btn-dark ms-2" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
            <div class="input-group-append">
                {# <button class="btn btn-outline-primary" type="submit">Chercher</button> #}
                <div class="btn-group" role="group">
                    <a href="{{ path(currentPath) }}" type="button" class="btn btn-yellow">Reset</a>
                </div>
            </div>
        {{ form_end(form) }}
    </div>