{% include "components/forms/_display_form_errors.html.twig" %}

<div class="row mb-5 justify-content-center">
    <div class="col-12 col-sm-9 col-md-6 col-lg-5">
        {{ form_start(form) }}
            <div class="input-group">
                {{ form_widget(form.search) }}
                {% set currentPath = app.request.get('_route') %}
                <div class="input-group-append">
                    {# <button class="btn btn-outline-primary" type="submit">Chercher</button> #}
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-outline-primary">Chercher</button>
                        <a href="{{ path(currentPath) }}" type="button" class="btn btn-outline-secondary">Reset</a>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>

