{% extends 'components/_base.html.twig' %}

{% block title %}Devenir ambassadeur{% endblock %}

{% block body %}

    <h1 class="col-12 text-center my-5">Devenir ambassadeur</h1>
    
    sdfsdfsdfsdfdfsdf

{% endblock %}
