#logoPageAmbassadeur img {
    scale: 6;
    display: block;
}

.div_ambassadeur_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_ambassadeur_img img {
    width: 40%;
}

.card_ambassadeur_number {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_ambassadeur_number>.position-relative {
    opacity: 30%;
}


.card_collectons {
    background: var(var(--sitebgcolor) )  0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
}

.card_collectons_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_collectons_img img {
    width: 70%;
    position: relative;
}

.card_collectons_ul_success li:before {
    --icon-space: 1.3em;
    content: "\f058";
    /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc(var(--icon-space) * -0.5);
    width: var(--icon-space);
    color: var(--green);
}

.card_collectons_ul_wrong li:before {
    --icon-space: 1.3em;
    content: "\f057";
    /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc(var(--icon-space) * -0.5);
    width: var(--icon-space);
    color: var(--danger);
}