._collecte_card_info, .card_collectons{
    background: var(--bs-secondary) 0% 0% no-repeat padding-box;
    border-radius: 20px;
}

.img_collecte_or_not{
    max-width: 224px;
    max-height: 187px;
}

// .ul_collecte_ko > li{
//     background: url('../../images/design/collecte/_li_collect_ko.png') no-repeat left center;
//     padding: 5px 10px 5px 40px;
//     list-style: none;
//     margin-right: 10px;
//     vertical-align: middle;
// }