// .cookiealert {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     margin: 0 !important;
//     z-index: 2000;
//     opacity: 0;
//     visibility: hidden;
//     transform: translateY(100%);
//     transition: all 500ms ease-out;
//     color: #ecf0f1;
//     background-color: #212327;
// }

#overlay{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.cookiealert{
    border-radius: 2%;
    background-color: var(--bs-secondary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid var(--bs-purple);
}

.cookie_content img{
    width: 100px;
}

.cookiealert.show {
    opacity: 1;
    visibility: visible;
    transition-delay: 1000ms;
}