//page d'étail de l'occasion
.occasion_detail_editor {
    text-align: left;
    font: normal normal 600 16px/20px Nunito;
    letter-spacing: 0px;
    color: #1C1C3E99;
    text-transform: lowercase;
    display: inline-block;
}

.occasion_detail_editor::first-letter {
    text-transform: uppercase;
}

#occasions_filters_resetForm{
    cursor: pointer;
}

.valid_button{
    position: absolute;
    right: 0;
}

.occasion_detail_name {
    text-align: left;
    font: normal normal normal 54px/64px Sound Bubble;
    letter-spacing: 0px;
    color: #1DBA9D;
    text-transform: uppercase;
}

.occasion_detail_etats {
    font: normal normal 300 14px/20px Nunito;
    letter-spacing: 0px;
    color: #1C1C3E;
}


.__shop {
    text-align: left;
    font: normal normal 600 12px/20px Nunito;
    letter-spacing: 0px;
    color: #6541DD;
    opacity: 1;
}

.__no_transport {
    text-align: left;
    font: normal normal 600 12px/20px Nunito;
    letter-spacing: 0px;
    color: #1C1C3E4D;
    opacity: 1;
}

.span_players_ages {
    text-align: left;
    font: normal normal 300 14px/20px Nunito;
    letter-spacing: 0px;
    color: #1C1C3ECC;
    opacity: 1;
}

.span_duration_game {
    text-align: left;
    font: normal normal 300 14px/20px Nunito;
    letter-spacing: 0px;
    color: #1C1C3ECC;
    opacity: 1;
}

.card_boite_name {
    width: 100%;
    font: normal normal 600 16px/20px Nunito;
    letter-spacing: 0px;
    color: #1C1C3E;
    opacity: 1;
    text-transform: lowercase;
    display: inline-block;
}

.card_boite_name:first-letter {
    text-transform: uppercase;
}

.label_in_occasion_search_form{
    font: normal normal normal 22px/34px Sound Bubble;
    letter-spacing: 0px;
    color: #1C1C3E;
    text-transform: uppercase;
}

.li_players > input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: transparent;
    /* Not removed via appearance */
    margin: 0;
    color: currentColor;
    width: 33px;
    height: 33px;
    border: 1px solid #00000033;
    border-radius: 0.15em;
    display: flex;
    justify-content: center;
    z-index: 3;
}

.li_durations > input[type="checkbox"], .li_ages  > input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: transparent;
    /* Not removed via appearance */
    margin: 0;
    color: currentColor;
    width: 20px;
    height: 20px;
    border: 1px solid #00000033;
    border-radius: 0.15em;
    display: flex;
    justify-content: center;
    z-index: 1;
}


.li_ages_label, .li_durations_label, .li_players_label{
    font-size: 14px;
}

.li_players > input[type="checkbox"]::before {
    content: "";
    width: 100%;
    // clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: center;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: var(--bs-yellow);
}
.li_players > input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.li_durations > input[type="checkbox"]::before, .li_ages > input[type="checkbox"]::before {
    content: "";
    width: 100%;
    // clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: center;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: var(--bs-yellow);
}

.li_durations > input[type="checkbox"]:checked::before, .li_ages > input[type="checkbox"]:checked::before {
    transform: scale(0.8);
}