{# templates/admin/my-custom-page.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Accueil ADMINISTRATION{% endblock %}

{% block page_actions %}

{% endblock %}

{% block main %}
    <div class="row">
        {% for total in totals %}
            <div class="col-4">
                <div class="card">
                    <div class="card-header">{{ total.name }}</div>
                    <div class="card-body">{{ (total.total) / 100 |number_format(2, '.', ',') }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}