{# templates/admin/my-custom-page.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}DETAILS D'UN PAYMENT{% endblock %}

{% block main %}

    {% include "site/_flash_message.html.twig" %}

    <div class="row">

            <div class="card col-12 p-0 my-5">
                <div class="card-header">{{ payment.document.billNumber }}</div>
                <div class="card-body">
                    <p>Est payée: (1 = OUI) {{ result.is_paid }}<p>
                    <p>Date du paiement: {{ result.paid_at| date('d-m-y à H:m:s') }}</p>
                    <p>Créé le {{ result.created_at| date('d-m-y à H:m:s') }}</p>
                </div>
            </div>

    </div>


{% endblock %}