<div class="offset-7" style="font-size:14px">
    {% set facturations = document.billingAddress|split('<br/>') %}
    {% for facturation in facturations %}
        {{ facturation }}<br/>
    {% endfor %}
</div>
