{% extends "components/_base.html.twig" %}

{% block title %}Catalogue des pièces détachées{% endblock %}

{% block body %}

        <div class="row justify-content-around align-items-center py-4">
            <h1 class="col-12 text-center">Pièces détachées</h1>
            <div class="col-12 text-center small mb-3 fst-italic">(Catalogue des boites dont le service possède des pièces)</div>
        </div>

        <div class="row g-0 justify-content-around py-5 bg-white">
            <!-- left column / searchs -->
            <div class="col-12 d-flex flex-wrap justify-content-center">
                    <p class="col-12 text-center">Il vous manque une pièce, un jeton, un dé ?</p>
                    {% include "site/pages/catalog/forms/_search_boite.html.twig" %}
            </div>
        </div>

        {% if totalPiecesDisponiblentSurLeSite < 1 %}
            <div class="row g-0 bg-white justify-content-center">
                <div class="col-12 my-4 text-center">
                    <img class="index_chess" src="{{ asset('build/images/design/index/trace_and_chess.png')| imagine_filter('thumbs') }}" alt="Catalogue des pièces détachées">
                </div>
                <div class="col-11 my-4 text-center">
                        <span class="text-green fw-bold">L’inventaire de nos pièces détachées est en cours... <i class="fa-solid fa-clock"></i></span>
                </div>
            </div>

        {% else %}
            

            {% if activeTriWhereThereIsNoSearch == true and boites | length > 12 %}
                <div class="row g-0 justify-content-end bg-white pb-3">
                    <div class="col-8 col-md-4 col-lg-3 me-2">
                        <select id="tri" class="form-select" aria-label="Default select example">
                            <option selected>Trier par</option>
                            <option value="name">Nom de la boite A-Z</option>
                            <option value="updatedAt">Les derniers articles ajoutés (défaut)</option>
                        </select>
                    </div>
                </div>
            {% endif %}

            <div class="row g-0 bg-white justify-content-center">
                <!-- results > 0 -->
                {% if boites | length > 0 %}

                    {% for boite in boites %}  

                        {% include "site/pages/catalog/components/_cardDetachees.html.twig" with { 'boite': boite } %}
                        
                    {% endfor %}

                        {{ knp_pagination_render(boites, 'components/_pagination.html.twig') }}

                {% else %}
                    <div class="col-11 text-center text-orange fst-italic">
                        Notre catalogue s'enrichit régulièrement, n'hesitez pas à réessayer plus tard !
                    </div>
                    <!-- result == 0 -->
                    {% include "site/pages/catalog/components/_emptyResultsDisplayPartners.html.twig" %}


                {% endif %}
            </div>

        {% endif %}


        {% include "components/_separateur_wave.html.twig" %}


{% endblock %}

{% block javascript %}
    <script>
        url = location.protocol + '//' + location.host + location.pathname;
        document.getElementById('tri').onchange = function() {
            window.location = url + "?orderColumn=" + this.value;
        };
    </script>
{% endblock %}