{% apply inline_css(source('@pdf/pdf.css')) %}

    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="msapplication-TileColor" content="#da532c">
            <meta name="theme-color" content="#ffffff">
            {% block meta %}
            {% endblock %}
        </head>
        <body>
            {% include "pdf/" ~ year ~ "/_header.html.twig" %}

            {% include "pdf/" ~ year ~ "/_beforeBody.html.twig" %}

            {% block body %}
            {% endblock %}

            {% include "pdf/" ~ year ~ "/_footer.html.twig" %}
        </body>
    </html>
{% endapply %}