
        {{ form_start(voucherDiscountForm) }}
        <div class="col-12 px-0">
            <div class="input-group">
                <div class="form-outline">
                    {{ form_widget(voucherDiscountForm.voucherDiscount) }}
                </div>
                <button type="submit" class="btn btn-yellow ms-1">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        {{ form_end(voucherDiscountForm) }}