<a class="me-2" target="_blank" href="{{ ea_url()
    .setController('App\\Controller\\Admin\\EasyAdmin\\UserCrudController')
    .setAction('edit')
    .setEntityId(user.id)
}}">
<i class="fa-solid fa-user"></i>
</a>