<form method="post" class="ms-2" action="{{ path('adresse_delete', {'id': adresse.id}) }}" onsubmit="return confirm('Vous êtes sûr de vouloir supprimer cette adresse?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adresse.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
