
<a class="btn btn-orange mr-2 btn_edit_address" href="{{ path('adresse_edit', {'id': adresse.id}) }}">Éditer</a> 

<form method="post" class="ms-2" action="{{ path('adresse_delete', {'id': adresse.id}) }}" onsubmit="return confirm('Vous êtes sûr de vouloir supprimer cette adresse?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adresse.id) }}">
    <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
</form>

