<div class="col-12 col-md-7 mx-auto">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="col-12 text-center">
            <button class="btn btn-success my-3">{{ button_label|default('Enregistrer') }}</button>
        </div>
    {{ form_end(form) }}
</div>