{% extends 'member/base.html.twig' %}

{% block member %}

    <a class="btn btn-primary" href="{{ path('member_adresses') }}">Retour aux adresses</a>

   <h1 class="col-12 text-center my-5">Édition d'une adresse:</h1>

    <div class="row my-5">
        
        {{ include('member/adresse/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        
    </div>
{% endblock %}
