{% extends "components/_base.html.twig" %}

{% block title %}Espace membre{% endblock %}

{% block body %}

    {% include "member/components/_nav.html.twig" with {'pageMember': 'adresses'} %}

    <div class="row bg-white pt-2 pb-5">

        <h2 class="col-12 text-center my-5">Édition <span class="text-purple">d'une adresse:</span></h2>
    
        {{ include('member/adresse/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    </div>
{% endblock %}
