{% extends "components/_base.html.twig" %}

{% block title %}Espace membre{% endblock %}

{% block body %}

    {% include "member/components/_nav.html.twig" with {'pageMember': 'adresses'} %}

    <div class="row bg-white pt-2 pb-5">

        <h2 class="col-12 text-center my-5">Créer <span class="text-purple">une adresse:</span></h2>

        <h5 class="col-12 text-center text-danger font-weight-bolder">Nombre d'adresses maximum: {{ nbrOfAdressesMax }}</h5>

        {{ include('member/adresse/_form.html.twig') }}

    </div>

{% endblock %}
