{% include "email/header.html.twig" %}

    <!-- PARAGRAPH -->
    <!-- Set text color and font family ("sans-serif" or "Georgia, serif"). Duplicate all text styles in links, including line-height -->
    <tr>
        <td align="left" valign="top" style="border-collapse : collapse; border-spacing: 0; margin: 0; padding: 0; padding-left : 6.25%; padding-right : 6.25%; width: 87.5%; font-size : 17px; font-weight : 400; line-height : 160%;
            padding-top: 10px; 
            color : #000000;
            font-family: sans-serif;" class="paragraph">
            <p>Bonjour,</p>
            <p>Vous semblez avoir fait une demande pour changer votre mot de passe.</p>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="border-collapse : collapse; border-spacing: 0; margin: 0; padding: 0; padding-left : 6.25%; padding-right : 6.25%; width: 87.5%; font-size : 17px; font-weight : 400; line-height : 160%;
            padding-top: 10px; 
            color : #000000;
            font-family: sans-serif;" class="paragraph">
            <p>Vous trouverez ci-dessus un lien/bouton pour y accèder:</p>
        </td>
    </tr>

    <!-- BUTTON -->
    <tr>
        <td align="center" valign="top" style="border-collapse : collapse; border-spacing: 0; margin: 0; padding: 0; padding-left : 6.25%; padding-right : 6.25%; width: 87.5%;
            padding-top: 10px;
            padding-bottom: 5px;" class="button"><a
            href="{{ url('reset_password', {'uuid': uuid }) }}" target="_blank" style="text-decoration: none;">
                <table border="0" cellpadding="0" cellspacing="0" align="center" style="max-width: 240px; min-width: 120px; border-collapse : collapse; border-spacing: 0; padding: 0;"><tr><td align="center" valign="middle" style="padding: 12px 24px; margin: 0; text-decoration: none; border-collapse : collapse; border-spacing: 0; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -khtms-border-radius: 4px;"
                    bgcolor="#30880b"><a target="_blank" style="text-decoration: none;
                    color : #FFFFFF; font-family: sans-serif; font-size : 17px; font-weight : 400; line-height : 120%;"
                    href="{{ url('reset_password', {'uuid': uuid }) }}" target="_blank" style="text-decoration: none;">
                        Changer de mot de passe !
                    </a>
            </td></tr></table></a>
        </td>
    </tr>

    <!-- PARAGRAPH -->
    <!-- Set text color and font family ("sans-serif" or "Georgia, serif"). Duplicate all text styles in links, including line-height -->
    <tr>
        <td align="left" valign="top" style="border-collapse : collapse; border-spacing: 0; margin: 0; padding: 0; padding-left : 6.25%; padding-right : 6.25%; width: 87.5%; font-size : 17px; font-weight : 400; line-height : 160%;
            padding-top: 10px; 
            color : #000000;
            font-family: sans-serif;" class="paragraph">
            Si le lien ne fonctionne pas, copiez et coller ce texte dans votre navigateur web favori:
        </td>
    </tr>

    <!-- PARAGRAPH -->
    <!-- Set text color and font family ("sans-serif" or "Georgia, serif"). Duplicate all text styles in links, including line-height -->
    <tr>
        <td align="left" valign="top" style="border-collapse : collapse; border-spacing: 0; margin: 0; padding: 0; padding-left : 6.25%; padding-right : 6.25%; padding-bottom: 25px; width: 87.5%; font-size : 14px; font-weight : 400; line-height : 160%;
            padding-top: 10px; 
            color : #000000;
            font-family: sans-serif;" class="paragraph">
            {{ url('reset_password', {'uuid': uuid }) }}
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" style="border-collapse : collapse; border-spacing: 0; margin: 0; padding: 0; padding-left : 6.25%; padding-right : 6.25%; width: 87.5%; font-size : 17px; font-weight : 400; line-height : 160%;
            padding-top: 10px; 
            color : #FF0000;
            font-family: sans-serif;" class="paragraph">
            <p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer ce message.</p>
        </td>
    </tr>

{% include "email/footer_without_unsubscribe.html.twig" %}