<div class="row justify-content-end my-5">
    <div class="col-5">
        {% set facturations = document.billingAddress|split('<br/>') %}
        {% for facturation in facturations %}
            {{ facturation }}<br/>
        {% endfor %}
    </div>
</div>