{% extends 'site/document_download/base.html.twig' %}

{% block title %}{{ document.billNumber }}{% endblock %}

{% block body %}

    {# COMPANY NAME / ADRESSE #}
    {% include "site/document_download/_header.html.twig" %}

    {# ADRESSE DE LIVRAISON #}
    {% include "site/document_download/_deliveryAdresse.html.twig" %}

    {# DOCUMENT DETAILS #}
    {% include "site/document_download/_beforeBody.html.twig" %}


        <table class="col-sm-12 table table-striped table-bordered align-middle my-5">
            <thead>
                <th class="col-xs-7 text-center">Désignation</th>
                <th class="col-xs-3 text-center">Référence</th>
                <th class="col-xs-1 text-center">Qté</th>
                <th class="col-xs-2 text-center">Total HT</th>
            </thead>
            <tbody>
                {# SI Y A DES DEMANDES D'ARTICLES DANS LE PANIER #}
                {% include "site/document_download/_tableItems.html.twig" %}

                {# SI Y A DES JEUX D'OCCASION DANS LE PANIER #}
                {% include "site/document_download/_tableOccasions.html.twig" %}

                {# SI Y A DES DEMANDES DE PIECES DETACHEES DANS LE PANIER #}
                {% include "site/document_download/_tableBoites.html.twig" %}
            </tbody>
        </table>


    {# PARITE TOTAUX #}
    {% include "site/document_download/_totalsTable.html.twig" %}

{% endblock %}
