<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        {% block meta %}
        {% endblock %}
        <link rel="icon" href="/build/images/favicon/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="/build/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/build/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/build/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/build/images/favicon/site.webmanifest">
        <title>REFAITES VOS JEUX | {% block title %}{% endblock %}</title>
    </head>
    <body>
        <style type="text/css">{{ css }}</style>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
