{% extends 'site/base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <h1 class="col-12 text-center my-5">Contactez le service</h1>
    
    <div class="row mb-5">
    
        <div class="col-4 mx-auto">
            {{form(form)}}
        </div>
    </div>

{% endblock %}
