<div class="card border-0 shadow-lg h-100">
    <div class="card-body d-flex flex-column align-items-center justify-content-center py-5">
        <img src="https://random.imagecdn.app/350/350" alt="" style="border-radius:50%;max-width:200px;">
        <div class="card-description text-center fs-4 mt-4">
            <a class="btn btn-outline-primary" href="{{ path(card_support.link) }}">{{ card_support.text }}</a>
        </div>
    </div>
</div>