#navbar-top{
    padding: 30px 10px;
    transition: ease-in-out 400ms;
    position: fixed;
    width: 98%;
    margin-left: 1%;
    top: 0;
    z-index: 99;
}
#footer-navbar{
    width: 98%;
    margin-left: 1%;
    bottom: 0;
}
.container{
    margin-top: 180px;
}
.catalog_card:hover{
    box-shadow: 5px 5px 5px var(--bs-primary);
    transition: transform ease-in 300ms;
    transform: scale(0.98);
}

.imgFindUsOnFacebook{
    max-width: 40px;
    border-radius: 5px;
}
.imgFindUsOnFacebook:hover {
    box-shadow: 0px 0px 2px 2px var(--bs-blue);
    transition: transform ease-in 300ms;
    transform: scale(1.1);
}

.fa-user{
    transform: scale(1.2); 
}

.img_full-width{
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.swing-out-top-bck {
	animation: swing-out-top-bck 0.45s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}

@keyframes swing-out-top-bck {
    0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
    }
    100% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
    }
}