{% extends "components/_base.html.twig" %}
   
{% block title %}Catalogue des pièces détachées{% endblock %}

{% block body %}

    <h1 class="col-12 text-center mt-5">Catalogue des pièces détachées</h1>
    <div class="col-12 text-center small mb-5 fst-italic">(Catalogue des boites dont le service possède des pièces)</div>

    {% include "components/forms/_search_boite.html.twig" %}

    {% if search is not null %}
        <div class="row">
            <div class="col-12 text-start text-decoration-underline h4">Votre recherche: <span class="text-danger">{{ search | raw }}</span></div>
        </div>
    {% endif %}

    {% if boites | length > 0 %}
    {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

        <div class="row justify-content-around">
        
            {% for key,boite in boites %}  

                {% include "components/catalog/_card.html.twig" with { 'product': boite, 'key': key,  'tax': tax } %}

            {% endfor %}

        </div>
        
        <div class="row mt-5">
            <div class="col-12 d-flex justify-content-center">
                {{ knp_pagination_render(boites, 'components/_pagination.html.twig') }}
            </div>
        </div>


        <div class="row mb-5 justify-content-start">
            <div class="col-12 text-center">
                {% if boites_totales | length > 1 %}
                    {% set conjugaison_boite = "boites" %}
                {% else %}
                    {% set conjugaison_boite = "boite" %}
                {% endif %}
                {{ boites_totales | length }} {{ conjugaison_boite }} en ligne.
            </div>
        </div>

    {% else %}

        <div class="row justify-content-center my-5">

            <div class="col-11 text-center">
                <p class="h2">Nous n'avons pas de jeux en stock pour le moment.</p>
                <p class="h5">Vous pouvez suivre nos arrivages sur la page <a href="https://www.facebook.com/refaitesvosjeux/" target="_blank">Facebook !</a></p>    
            </div>
            {% if partenaires | length > 0 %}
                <p class="h5 mt-5 col-12 text-center">Ou tenter votre chance chez l'un de nos partenaires:</p>

                {% for partner in partenaires %}

                    {% include "components/partner/_card_partner.html.twig" %}
                    
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
