<div class="card col-12 mt-3">
    <div class="card-header bg-vos">Contenu d'un jeu complet :</div>
    <div class="card-body mt-2">
        <ul>
            {% set contenus = boite.content|split('\r\n') %}
            {% if boite.content | length > 0 %}
                {% for contenu in contenus %}
                    {{ contenu }}<br/>
                {% endfor %}
            {% else %}
                Aucune information pour le moment...
            {% endif %}
        </ul>
    </div>
</div>