<div class="col-12 col-lg-6 text-center p-0">
    <div class="divImgPresentation">
        <div class="zoom">
            <div class="zoom__top zoom__left"></div>
            <div class="zoom__top zoom__centre"></div>
            <div class="zoom__top zoom__right"></div>
            <div class="zoom__middle zoom__left"></div>
            <div class="zoom__middle zoom__centre"></div>
            <div class="zoom__middle zoom__right"></div>
            <div class="zoom__bottom zoom__left"></div>
            <div class="zoom__bottom zoom__centre"></div>
            <div class="zoom__bottom zoom__right"></div>
            <img class="zoom__image" src="{{ vich_uploader_asset(boite, 'imageFile') }}" alt="Image de {{ boite.name }} - {{ boite.editor }}"/>
        </div>
    </div>
</div>