<div class="col-12">
    <b>Contenu du jeu:</b>
        <ul class="ps-0 boite_content">
            {% set contenus = boite.content|split('\r\n') %}
            {% if boite.content | length > 0 %}
                {% for contenu in contenus %}
                    {{ contenu }}<br/>
                {% endfor %}
            {% else %}
                Aucune information pour le moment...
            {% endif %}
        </ul>
</div>