{% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-dark" href="{{ ea_url()
        .setController('App\\Controller\\Admin\\EasyAdmin\\'~ entityNameInController ~'CrudController')
        .setAction('edit')
        .setEntityId(boite.id)
    }}">
    <i class="fa-solid fa-gear"></i>
    </a>
{% endif %}