{% if is_granted('ROLE_ADMIN') %}
    <a class="_card_button_link_to_entity d-flex justify-content-center align-items-center me-2 text-decoration-none" target="_blank" href="{{ ea_url()
        .setController('App\\Controller\\Admin\\EasyAdmin\\ItemCrudController')
        .setAction('edit')
        .setEntityId(item.id)
    }}">
    <i class="fa-solid fa-chess fa-2x"></i>
    </a>
{% endif %}