{% if is_granted('ROLE_ADMIN') %}
{# //TODO  #}
    <a class="btn btn-dark" target="_blank" href="{{ ea_url()
        .setController('App\\Controller\\Admin\\EasyAdmin\\'~ entityNameInController ~'CrudController')
        .setAction('edit')
        .setEntityId(setEntityId)
    }}">
    <i class="fa-solid fa-gear"></i>
    </a>
{% endif %}