{% if is_granted('ROLE_ADMIN') %}
    <a class="_card_button_link_to_entity d-flex justify-content-center align-items-center me-2 text-decoration-none" target="_blank" href="{{ ea_url()
        .setController('App\\Controller\\Admin\\EasyAdmin\\BoiteCrudController')
        .setAction('edit')
        .setEntityId(occasion.boite.id)
    }}">
    <i class="fa-solid fa-box"></i>
    </a>
    <a class="_card_button_link_to_entity d-flex justify-content-center align-items-center me-2 text-decoration-none" target="_blank" href="{{ ea_url()
        .setController('App\\Controller\\Admin\\EasyAdmin\\OccasionCrudController')
        .setAction('edit')
        .setEntityId(occasion.id)
    }}">
    <i class="fa-solid fa-square-full"></i>
    </a>
{% endif %}