{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

    <div class="col-12 mt-2">
        {% if product.discountedPriceWithoutTax > 0 %}
            <strike class="mt-1">{% include "components/catalog/_countPrice.html.twig" %}</strike><br/>
        {% endif %}
        <span class="text_juliette_yellow">{% include "components/catalog/_countPrice.html.twig" %} € TTC</span>
    </div>

