{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% if 'occasion' in currentPath %}
    {% if product.discountedPriceWithoutTax > 0 %}
        <strike class="">{% include "components/catalog/_countPrice.html.twig" %}</strike><br/>
        <span class="text_juliette_yellow">{% include "components/catalog/_countPrice.html.twig" %} € TTC</span>
    {% else %}
        <span class="text_juliette_yellow">{% include "components/catalog/_countPrice.html.twig" %} € TTC</span>
    {% endif %}
{% endif %}
