{% if item.durationMinOfTheGame is not null %}
    //TODO durée
    <span class="span_duration_game">
        {% if item.durationMinOfTheGame == item.durationMaxOfTheGame or item.durationMaxOfTheGame is null %}

            Durée: environ {{ item.durationMinOfTheGame }} min.

        {% else %}

            Durée: entre {{ item.durationMinOfTheGame }} et {{ item.durationMaxOfTheGame }} min.
            
        {% endif %}
    </span>

{% else %}

    {% if is_granted('ROLE_BENEVOLE') %}

        <i class="fa-solid fa-person text-danger"> Durée de la partie non renseigné!!!!</i>

    {% endif %}

{% endif %}

