
<div class="row justify-content-center align-items-center py-5 bg-white">
    <div class="col-11 col-md-9 text-center py-5">
        {{ fairDay | raw }} //TODO
    </div>
</div>
{% include "components/_row_donner_ses_jeux.html.twig" %}

