<div class="row my-5">
    <div class="col-12 d-flex justify-content-center">
        {{ form_start(shippingForm) }}
            <div class="input-group">
                {{ form_widget(shippingForm.name) }}
                <div class="input-group-append">
                    {# <button class="btn btn-outline-primary" type="submit">Chercher</button> #}
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-outline-primary">Calculer</button>
                    </div>
                </div>
            </div>
        {{ form_end(shippingForm) }}
    </div>
</div>