<div class="__shop"><img src="{{ asset('build/images/design/cart/shop_retrait.svg') }}" alt="Logo shop_retrait"> Retrait sur Caen</div>
<div class="ps-4 __no_transport"><img src="{{ asset('build/images/design/cart/no_transport.svg') }}" alt="Logo no_transport"> Pas de livraison</div>