<table class="table table-sm">
	<thead class="thead-dark text-center">
		<tr>
			<th scope="col">Type de pièce</th>
			<th scope="col">Disponible<br/>
				à la vente</th>
			<th scope="col">Disponible en<br/>retrait sur Caen</th>
			<th scope="col">Envoi postal<br/>possible</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>- de 3cm d'épaisseur</td>
			<td class="text-center">✅</td>
			<td class="text-center">✅</td>
			<td class="text-center">✅</td>
		</tr>
		<tr>
			<td>+ de 3cm d'épaisseur</td>
			<td class="text-center">✅</td>
			<td class="text-center">✅</td>
			<td class="text-center">❌</td>
		</tr>
		<tr>
			<td>Plateau de jeu</td>
			<td class="text-center">✅</td>
			<td class="text-center">✅</td>
			<td class="text-center">Suivant format</td>
		</tr>
		<tr>
			<td>Règle du jeu</td>
			<td class="text-center">❌</td>
			<td class="text-center">❌</td>
			<td class="text-center">❌</td>
		</tr>
		<tr>
			<td>Boite incomplète</td>
			<td class="text-center">❌</td>
			<td class="text-center">❌</td>
			<td class="text-center">❌</td>
		</tr>
		<tr>
			<td>Boite seule</td>
			<td class="text-center">❌</td>
			<td class="text-center">❌</td>
			<td class="text-center">❌</td>
		</tr>

	</tbody>
</table>
