{% extends "components/_base.html.twig" %}

{% block title %}Les jeux d'occasion{% endblock %}

{% block body %}

    {% if fairDay is not null %}
        <!-- foire en cours -->
        {% include "components/catalog/_fairDay.html.twig" %}

    {% else %}
        <!-- pas de foire en cours -->
        <div class="row justify-content-around py-4">
            {{ titreDeLaPage | raw }}
        </div>
        <div class="row justify-content-around py-5 bg-white">
            <!-- left column / searchs -->
            <div class="col-11 col-md-9 col-lg-3">
                {% include "site/pages/catalog/components/_search_occasion.html.twig" %}
            </div>
            <!-- rigth column / results -->
            <div class="col-11 col-lg-9 d-flex flex-wrap justify-content-start align-items-stretch mt-5 mt-lg-0">
            
                <!-- left column / result > 0 -->
                {% if occasions | length > 0 %}

                    {% set jeu_dispo = 'jeu disponible' %}

                    {% if occasions | length > 1 %}
                        {% set jeu_dispo = 'jeux disponibles' %}
                    {% endif %}

                        <div class="col-12 font-weight-bolder">{{ occasions_totales | length }} {{ jeu_dispo }}.</div>

                        {% for key,occasion in occasions %}  

                            <div class="col-9 col-sm-6 col-md-4 mx-md-0 px-3 px-lg-1 my-3">
                                {% include "components/catalog/_cardOccasion.html.twig" with { 'product': occasion, 'tax': tax } %}
                            </div>

                        {% endfor %}

                        <div class="col-12 d-flex justify-content-center my-5">
                            {{ knp_pagination_render(occasions, 'components/_pagination.html.twig') }}
                        </div>

                {% else %}
                    <!-- left column / result == 0 -->
                    <div class="col-12 text-center">
                    //TODO logo boites vide ou autre
                        <p class="h2">Aïe, aucune référence pour le moment...</p>
                        <p class="h5">Vous pouvez suivre nos arrivages sur la page <a href="https://www.refaitesvosjeux.fr" target="_blank">Facebook !</a></p>    
                    </div>


                        {% if partners | length > 0 %}
                            <div class="h5 mt-5 col-12 text-center">Ou tenter votre chance chez l'un de nos partenaires:</div>

                            {% for partner in partners %}

                                {% include "site/pages/catalog/components/_cardPartnerIfSearchIsEmpty.html.twig" %}
                                
                            {% endfor %}
                        
                        {% endif %}
                {% endif %}
            </div>
        </div>

    {% endif %}
{% endblock %}