{% extends "components/_base.html.twig" %}

{% block title %}Tous les jeux d'occasion{% endblock %}

{% block body %}

    <div class="row justify-content-around py-4">
        <h1 class="col-11 text-center">
            Tous les <span class="text-purple">jeux</span>
        </h1>
    </div>

    {% if fairDay is not null %}

        {% include "components/catalog/_fairDay.html.twig" %}

    {% else %}
        
        <div class="row justify-content-around py-5 bg-white">
            <div class="col-11 col-md-9 col-lg-4">
                {% include "components/forms/_search_details_occasion.html.twig" %}
            </div>
            <div class="col-11 col-lg-8 d-flex flex-wrap justify-content-around align-items-stretch">

                {% if occasions | length > 0 %}

                    {% set jeu_dispo = 'jeu disponible' %}

                    {% if occasions | length > 1 %}
                        {% set jeu_dispo = 'jeux disponibles' %}
                    {% endif %}

                        <div class="col-6 fw-bolder mt-5 mt-lg-0">{{ occasions_totales | length }} {{ jeu_dispo }}.</div>
                        {% include "components/forms/_search_occasion.html.twig" %}

                        {% for key,occasion in occasions %}  

                            <div class="col-9 col-sm-6 col-md-4 mx-md-0 px-3 px-lg-1 my-3">
                                {% include "components/catalog/_cardOccasion.html.twig" with { 'product': occasion, 'tax': tax } %}
                            </div>

                        {% endfor %}

                        <div class="col-12 d-flex justify-content-center my-5">
                            {{ knp_pagination_render(occasions, 'components/_pagination.html.twig') }}
                        </div>

                {% else %}

                    <div class="row">
                        <div class="col-12 text-center">
                            <p class="h2">Nous n'avons pas de jeux en stock pour le moment.</p>
                            <p class="h5">Vous pouvez suivre nos arrivages sur la page <a href="https://www.refaitesvosjeux.fr" target="_blank">Facebook !</a></p>    
                        </div>
                    </div>
                    <div class="row justify-content-start mb-5">
                        {% if partenaires | length > 0 %}
                            <p class="h5 mt-5 col-12 text-center">Ou tenter votre chance chez l'un de nos partenaires:</p>

                            {% for partenaire in partenaires %}

                            //TODO 
                            {% include "site/components/catalogues/card-partenaire.html.twig" %}
                                
                            {% endfor %}
                        </div>
                        {% endif %}
                {% endif %}
            </div>
        </div>

    {% endif %}
{% endblock %}
