{% extends "components/_base.html.twig" %}

{% block title %}Les jeux d'occasion {{ title }}{% endblock %}

{% block body %}

    {% if fairDay is not null %}
        <!-- foire en cours -->
        {% include "components/catalog/_fairDay.html.twig" %}

    {% else %}
        <!-- pas de foire en cours -->
        <div class="row g-0 justify-content-around py-4">
            <div class="col-11 text-center small mb-2">{{ breadcrumb | raw }}</div>
            <h1 class="col-12 text-center">{{ titreDeLaPage | raw }}</h1>
        </div>
        <div class="row g-0 align-items-start py-3 py-md-5 bg-white">
            <!-- left column / searchs -->
            <div class="col-11 d-flex d-md-none justify-content-end">
                <i class="fa-solid fa-filter btn btn-yellow occasions_filters_button"> Filtrer</i>
            </div>
            <div class="col-12 d-flex flex-wrap col-md-4 col-lg-3 occasions_filters_menu d-none d-md-block px-2">
                {% include "site/pages/catalog/forms/_form_search_occasions.html.twig" %}
            </div>
            <!-- rigth column / results -->
            <div id="results" class="col-12 col-md-8 col-lg-9 d-flex flex-wrap justify-content-around justify-content-md-start align-items-stretch mt-5 mt-md-0">
                {% include "site/pages/catalog/components/_display_occasions_results.html.twig" %}
            </div>
        </div>

    {% include "components/_separateur_wave.html.twig" %}

    {% endif %}
{% endblock %}

{% block javascript %}
    <script>
        window.onload = () => {
            //occasions_filters_menu effect
            let occasions_filters_button = document.querySelector('.occasions_filters_button');
            let occasions_filters_menu = document.querySelector('.occasions_filters_menu');
            occasions_filters_button.addEventListener('click', showFiltersMenu);

            function showFiltersMenu(){
            if(occasions_filters_menu.classList.contains('d-none')){
                occasions_filters_menu.classList.remove('d-none');
            }else{
                occasions_filters_menu.classList.add('d-none');
            }
            }
            //occasions_filters_menu effect
            let FormOccasion = document.getElementById('search_occasions_in_catalogue');

            let resetFormButton = document.getElementById('resetFormButton');
            function resetFormFunction(){
                //on recupere url active
                let Url = new URL(window.location.href);
                
                let elements = document.querySelectorAll("input[type=checkbox]:checked")
                for (var i = 0; i < elements.length; i++){
                    if(elements[i].type === 'checkbox'){
                        if(elements[i] < elements.length -1){
                            elements[i].checked = false;
                        }else{
                            elements[i].click();
                        }
                    }
                }
            }
            resetFormButton.addEventListener('click', resetFormFunction);

            //left search
            document.querySelectorAll('#search_occasions_in_catalogue input').forEach(input => {
                input.addEventListener('change', () => {
                    let FormOpions = new FormData(FormOccasion);

                    //on recupere les donnees
                    let Params = new URLSearchParams();

                    FormOpions.forEach((value, key) => {
                        Params.append(key, value);
                    })

                    //on recupere url active
                    let Url = new URL(window.location.href);

                    //on lance fetch()
                    fetch(Url.pathname + "?" + Params.toString() + "&ajax=1", {
                        headers: {
                            "x-Request-with": "XMLHttpRequest"
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        let content = document.querySelector("#results");
                        content.innerHTML = data.content;

                        //on met a jour l'url
                        history.pushState([], null, Url.pathname + "?" + Params.toString()  + "&ajax=1")
                    }).catch(e => alert(e))
                })
            });

            //animation des cartes quand ils vont dans le panier
            let cards = document.querySelectorAll('.card_columns');
            const cardsArray = [...cards];

            function inCartAnimations(card){

                card.classList.add('scale-out-center');
                setTimeout(() => {}, "500");
            }

            cardsArray.forEach(card => {

                let link_add_cart = card.children[0].children[5].children[1].lastElementChild;


                link_add_cart.addEventListener('click', (e) => inCartAnimations(card));

            });

            //animation du champs de recherche s'il est inférieur à 3
            document.getElementById('search_occasion_name_or_editor_in_catalogue_search').addEventListener('input', function (evt) {
                if(this.value.length > 0 && this.value.length < 3){
                    this.style.borderColor = 'red';
                }else{
                    this.style.borderColor = 'transparent';
                }

            });


        }
    </script>
{% endblock %}