{% extends "components/_base.html.twig" %}

{% block title %}Les jeux d'occasion{% endblock %}

{% block body %}

    {% if fairDay is not null %}
        <!-- foire en cours -->
        {% include "components/catalog/_fairDay.html.twig" %}

    {% else %}
        <!-- pas de foire en cours -->
        <div class="row justify-content-around py-4">
            {{ titreDeLaPage | raw }}
        </div>
        <div class="row justify-content-around py-5 bg-white">
            <!-- left column / searchs -->
            <div class="col-11 col-md-4 col-lg-3 col-xl-3 px-0 d-flex flex-wrap justify-content-around">
                {% include "site/pages/catalog/components/_search_occasion.html.twig" %}
            </div>
            <!-- rigth column / results -->
            <div class="col-11 col-md-8 col-lg-9 d-flex flex-wrap justify-content-around justify-content-md-start align-items-stretch mt-5 mt-md-0">
            
                <!-- left column / result > 0 -->
                {% if occasions | length > 0 %}

                    {% set jeu_dispo = 'jeu d\'occasion disponible' %}

                    {% if occasions | length > 1 %}
                        {% set jeu_dispo = 'jeux d\'occasion disponibles' %}
                    {% endif %}

                        <div class="col-12 font-weight-bolder mb-3">{{ occasions_totales | length }} {{ jeu_dispo }}.</div>

                        {% for key,occasion in occasions %}  

                            <div class="col-9 col-sm-6 col-lg-4 mx-md-0 p-1">
                                {% include "site/pages/catalog/components/_cardOccasion.html.twig" with { 'product': occasion, 'tax': tax } %}
                            </div>

                        {% endfor %}

                        <div class="col-12 my-5">
                            {{ knp_pagination_render(occasions, 'components/_pagination.html.twig') }}
                        </div>

                {% else %}

                    <!-- left column / result == 0 -->
                    {% include "site/pages/catalog/components/_emptyResultsDisplayPartners.html.twig" with {'partners': partners } %}
                    
                {% endif %}
            </div>
        </div>

    {% endif %}
{% endblock %}