<div class="row my-5">
    <div class="col-12 d-flex justify-content-center">
        {{ form_start(acceptCartForm) }}
            <div class="input-group mb-3">
                {{ form_widget(acceptCartForm.accept) }}
            </div>
        {{ form_end(acceptCartForm) }}
    </div>
</div>