<div class="row my-5">
        <div class="col-12 d-flex justify-content-center">
    {{ form_start(billingAndDeliveryForm) }}
            <div class="input-group mb-4">
                {{ form_widget(billingAndDeliveryForm.addressBilling) }}
            </div>
            <div class="input-group bg-danger">
                {{ form_widget(billingAndDeliveryForm.addressDelivery) }}
            </div>
    {{ form_end(billingAndDeliveryForm) }}
        </div>
</div>