<div class="row my-5">
    <div class="col-12 d-flex justify-content-center">
        {{ form_start(collectionPointForm) }}
            <div class="input-group">
                {{ form_widget(collectionPointForm.address) }}
            </div>
        {{ form_end(collectionPointForm) }}
    </div>
</div>