<div class="row my-5">
    <div class="col-12 d-flex justify-content-center">
        {{ form_start(shippingAndVoucherForm) }}
            <div class="input-group mb-3">
                {{ form_row(shippingAndVoucherForm.voucherDiscount) }}
            </div>
            <div class="input-group mb-3">
                {{ form_row(shippingAndVoucherForm.shipping) }}
            </div>
            <div class="input-group mt-5">
                <button type="submit" class="btn btn-outline-primary mx-auto"><i class="fa-solid fa-arrows-rotate"></i> Calculer</button>
            </div>
        {{ form_end(shippingAndVoucherForm) }}
    </div>
</div>