{% if donnees | length > 0 %}

    <table class="table table-stripped text-center align-bottom shadow-lg">
        <tr>
            <th class="col-2 text-muted small text-center">
                Occasion<br/> (Photo non contractuelle)
            </th>
            <th>Description</th>
            <th class="text-center">Prix TTC<br/><small>(Total)</small></th>
            <th></th>
        </tr>
        {% for panier in donnees %}
            <tr>
                <td class="text-center align-middle"><img class="img_full-width" src="{{ vich_uploader_asset(panier.occasion.boite, 'imageFile') }}"/></td>
                <td class="align-middle">
                        {% include "components/catalog/_occasion_details.html.twig"  with { 'occasion': panier.occasion } %}

                </td>
                <td class="align-middle text-center">{{ (panier.priceWithoutTax  * (1 + (tax.value / 100)) / 100) | number_format(2, '.', ',') }}</td>
                <td class="align-middle text-center"><a href="{{ path('panier_delete_item', {'item_id': panier.id }) }}"><i class="fa-solid fa-trash text-danger"></i></a></td>
            </tr>
        {% endfor %}
    </table>


{% endif %}