{% extends "components/_base.html.twig" %}

{% block title %}Panier{% endblock %}

{% block body %}

{% include "site/pages/panier/components/_header_panier.html.twig" with {'page': 'paiement'} %}

<div class="row justify-content-center bg-white pb-5 align-items-start">
    <h3 class="col-12 text-center">Récapitulatif avant paiement</h3>

    <!-- partie panier -->
    <div class="card px-0 col-11 col-md-8 col-lg-6 d-flex flex-wrap pb-2">
        {% include "site/pages/panier/components/_productsInCart.html.twig" with {'displayProductsInCart': true} %}
        <div class="col-12">
            {% include "site/pages/panier/components/_address.html.twig" with {'billingAddress': billingAddress, 'deliveryAddress': deliveryAddress }%}
        </div>
        <div class="col-12 d-flex justify-content-end">
            <a href="{{ path('panier_start') }}" class="btn btn-orange"><i class="fa-solid fa-backward-fast mr-2"></i> Recommencer ?</a>
        </div>
    </div>
    <!-- partie récapitulatif -->
    <div class="col-11 p-0 px-lg-2 mt-4 col-md-8 mt-4 mt-lg-0 col-lg-5">
            <div class="col-12 card rounded-4 p-0">
                {% include "site/pages/panier/components/_recapitulatif.html.twig" with {'displayOccasions': false, 'displayItems': false, 'displayVoucher': false, 'displayShippingMethod': false, 'javascript': false } %}
                <div class="col-12">
                    {% include "site/pages/panier/components/_acceptCartForm.html.twig" %}
                </div>
            </div>

    </div>
</div>



    {# <div class="col-12 text-center mt-4">
        Avec:
    </div>
    <div class="col-6 text-center mx-auto mt-2 mb-4">
        {% include "components/paiement/_logo_paiement_with.html.twig" %}
    </div> #}

{% endblock %}