{% extends "site/base.html.twig" %}

{% block title %}Panier{% endblock %}

{% block body %}

    <div class="col-12 text-center h2 my-5">Panier<br/>[choix des adresses]</div>


    <div class="col-12 col-md-6 mx-auto my-5">

        {% if voucherDiscount.id is not null %}
            <div class="alert alert-success text-center" role="alert">
                Code de réduction reconnu, il sera utilisé à la prochaine étape.
            </div>          
        {% endif %}

        {% include "components/panier/_billingAndDeliveryForm.html.twig" %}

    </div>


{% endblock %}
