{% apply inline_css(source('@pdf/pdf.css')) %}

    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="msapplication-TileColor" content="#da532c">
            <meta name="theme-color" content="#ffffff">
            {% block meta %}
            {% endblock %}
        </head>
        <body>
            <header>
                {% include "pdf/_header.html.twig" %}
            </header>

            <footer>
                {% include "pdf/_footer.html.twig" %}
            </footer>

            <main>
                {% block body %}
                {% endblock %}
            </main>

        </body>
    </html>
{% endapply %}