{% apply inline_css(source('@pdf/scss/bootstrap.scss')) %}

    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            {% block meta %}
            {% endblock %}
        </head>
        <body>
            <header>
                {% include "pdf/_header.html.twig" %}
            </header>

            <footer>
                {% include "pdf/_footer.html.twig" %}
            </footer>

            <main>
                {% block body %}
                {% endblock %}
            </main>

        </body>
    </html>
{% endapply %}