{% extends "pdf/base.html.twig" %}


{% block body %}
    {% include "pdf/_billingAndDeliveryAdresses.html.twig" %}

    <div class="card"
    style="
    position:absolute;
    border:1px solid black;
    top:9.3cm;
    left:0cm;
    width:100%;
    ">
        <table class="table-bordered" style="width:100%; page-break-after:avoid;">
            <thead class="bg-secondary">
                    <th class="col-7 text-center">Désignation</th>
                    <th class="col-3 text-center">Référence</th>
                    <th class="col-1 text-center">Qté</th>
                    <th class="col-2 text-center">Total HT</th>
            </thead>
            <tbody>
                {# SI Y A DES DEMANDES D'ARTICLES DANS LE PANIER #}
                {% include "pdf/_tableItems.html.twig" with {'docLines_items': results.docLines_items }%}

                {# SI Y A DES JEUX D'OCCASION DANS LE PANIER #}
                {% include "pdf/_tableOccasions.html.twig"  with {'docLines_occasions': results.docLines_occasions } %}

                {# SI Y A DES DEMANDES DE PIECES DETACHEES DANS LE PANIER #}
                {% include "pdf/_tableBoites.html.twig"  with {'docLines_boites': results.docLines_boites } %}
            </tbody>
        </table>
    </div>

{% endblock %}