<!-- START Bootstrap-Cookie-Alert -->
<div class="row">
    <div class="col-12 text-center cookiealert py-2" role="alert">
        <b>Vous aimez les cookies?</b> &#x1F36A; Le site utilise uniquement un seul cookie pour faire quelques statistiques. <a class="text-warning" href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser" target="_blank">En savoir plus</a>
        <button id="cookieHeadBandButton" type="button" class="btn bg-primary text-white btn-sm acceptcookies">
            Ok
        </button>
    </div>
</div>
<!-- END Bootstrap-Cookie-Alert -->