<div class="row g-0 justify-content-center align-items-center">
    <div class="col-11 col-md-9 mx-auto marquee">
        <h2 class="marquee_text"><i class="fa-solid fa-circle-info text-primary"></i> {{ marquee }}</h2>
    </div>
</div>