{# templates/admin/my-custom-page.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}


{% block content_title %}SAISIE MANUELLE A PARTIR D'UNE RESERVE [DETAILS]{% endblock %}

{% block main %}

    {% include "components/_flash_message.html.twig" %}

    {% set referer = app.request.headers.get('referer') %}
    <div class="rox g-0">
        <a href="{{ referer }}" class="btn btn-dark"><i class="fa-solid fa-backward-step me-1"></i> Précédent</a>
    </div>
    
    <div class="row g-0 my-4">
        {% include "admin/forms/_detailsForManualInvoice.html.twig" %}
    </div>
    

{% endblock %}