{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'components/_base.html.twig' %}

{% block title %}Erreur : {{ status_code }}{% endblock %}

{% block body %}
    <div class="row g-0 justify-content-center align-items-center py-5">
        <div class="col-12 mt-4 mt-md-0 offset-md-1 col-md-4 d-flex justify-content-around align-items-center">
            <img class="card-img-top-index" src="{{ asset('build/images/design/errors/error.png') }}" alt="Image de l'erreur">
        </div>
        <div class="col-12 mt-3 mt-md-0 col-md-6 col-lg-5 d-flex flex-column pt-3 ps-md-3">
            <h1 class="col-12 text-center text-md-start">
                <span class="text-purple">Oups !</span> 
            </h1>
            <div class="col-11 mt-4 text-center text-md-start">
                NOUS N’AVONS PAS TROUVÉ LA PAGE QUE VOUS CHERCHEZ !<br/><small>Code erreur : {{ status_code }}</small>
            </div>
            <div class="col-12 d-flex justify-content-center justify-content-md-start mt-3 text-uppercase">
                <a class="btn btn-dark d-flex align-items-center" href="{{ path('app_home') }}">RETOURNER À L’ACCUEIL</a>
            </div>
        </div>
    </div>

{% endblock %}