{% extends "components/_base.html.twig" %}

{% block title %}Nos catalogues{% endblock %}

{% block body %}

    {% include "site/pages/components/_row_page_header.html.twig" with {'siteControllerServiceContent': catalogControllerServiceContent } %}

    <div class="row g-0 justify-content-around bg-white pb-5">
        <h3 class="col-11 my-4 ">Exemple de jeux <span class="text-purple">d'occasion</span></h3>
            {% for occasion in firstElements %} 
                <div class="col-8 col-sm-6 col-lg-3 mx-md-0 px-3 px-md-5 px-lg-1 my-3"> 
                    {% include "site/pages/catalog/components/_cardOccasion.html.twig" with { 'occasion': occasion, 'tax': tax } %}
                </div>
            {% endfor %}
    </div>

    {% include "components/_separateur_wave.html.twig" %}

{% endblock %}