<h4 class="col-12 text-center text-info my-4">Agrandir le réseau</h4>

<p class="mt-2 text-justify">
    Le service cherche à développer le réseau autour du réemploi du jouet: vendeurs de pièces détachées, de jeux complets ou points de collecte.<br/>
    Vous souhaitez devenir l'un de nos <a class="text-info" href="{{ path('app_partenaires') }}">partenaires</a> ? N'hésitez pas à nous contacter !
</p>
{% include "site/project/components/_link-to-formulaire.html.twig" %}
