<h4 class="col-12 text-center text-info my-4">Faire un don</h4>

<p class="mt-2 text-justify">
    {% include "site/project/components/_formForDonation.html.twig" %}
</p>


{% include "site/project/components/_link-to-formulaire.html.twig" %}
