    <!-- End of WRAPPER -->
    </table>

    <!-- WRAPPER -->
    <!-- Set wrapper width (twice) -->
    <table border="0" cellpadding="0" cellspacing="0" align="center"
        width="560" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: inherit;
        max-width: 560px;" class="wrapper">

        <!-- FOOTER -->
        <!-- Set text color and font family ("sans-serif" or "Georgia, serif"). Duplicate all text styles in links, including line-height -->
        <tr>
            <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 13px; font-weight: 400; line-height: 150%;
                padding-top: 20px;
                padding-bottom: 20px;
                color: #999999;
                font-family: sans-serif;" class="footer">

                    Email envoyé automatiquement, merci de ne pas y répondre...
                    
            </td>
        </tr>
        <tr>
            <td align="center" valign="middle" style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; padding-bottom: 20px; border-collapse: collapse; border-spacing: 0;">
                    <a target="_blank"
                        href="https://www.je-developpe.fr/"
                    style="text-decoration: none;"><img border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block;
                        color: #000000;"
                        alt="JeDéveloppe" title="Site de JeDéveloppe"
                        width="30" height="30"
                        src="{{ absolute_url(asset('/build/images/design/logoJeDeveloppe.png')) }}"></a>
            </td>
        </tr>

    <!-- End of WRAPPER -->
    </table>

    <!-- End of SECTION / BACKGROUND -->
    </td></tr></table>

    </body>
</html>