<div class="card"
    style="
    position:absolute;
    left:10cm;
    top:5cm;
    right:0cm;
    ">
        <div class="card-body py-0 ps-1">
            {% set facturations = document.billingAddress|split('<br/>') %}
            {% for facturation in facturations %}
                {{ facturation }}<br/>
            {% endfor %}
        </div>
</div>

<div class="card"
style="
    position:absolute;
    left:0cm;
    right:0cm;
    top:7.9cm;
    height:2cm;
    ">
    <div class="card-header text-center p-0 bg-primary">Livraison / Retrait:</div>
    <div class="card-body py-0 px-1">
        {% set deliveries = document.deliveryAddress|split('<br/>') %}
        {# {{ document.sendingBy ?? 'ENVOI NON REFERENCER' }}<br/> #}
        {% for delivery in deliveries %}
            {{ delivery }}
        {% endfor %}
    </div>
</div>