{% extends "pdf/" ~ year ~ "/base.html.twig" %}


{% block body %}

    <div class="card"
    style="
    position:absolute;
    top:10.5cm;
    left:0cm;
    break-after: always;
    ">
        <table>
            <thead class="bg-primary">
                    <th class="col-7 text-center">Désignation</th>
                    <th class="col-3 text-center">Référence</th>
                    <th class="col-1 text-center">Qté</th>
                    <th class="col-2 text-center">Total HT</th>
            </thead>
            <tbody>
                {# SI Y A DES DEMANDES D'ARTICLES DANS LE PANIER #}
                {% include "pdf/" ~ year ~ "/_tableItems.html.twig" with {'docLines_items': results.docLines_items }%}

                {# SI Y A DES JEUX D'OCCASION DANS LE PANIER #}
                {% include "pdf/" ~ year ~ "/_tableOccasions.html.twig"  with {'docLines_occasions': results.docLines_occasions } %}

                {# SI Y A DES DEMANDES DE PIECES DETACHEES DANS LE PANIER #}
                {% include "pdf/" ~ year ~ "/_tableBoites.html.twig"  with {'docLines_boites': results.docLines_boites } %}
            </tbody>
        </table>
    </div>

{% endblock %}